# Python artifacts
*.pyc
__pycache__/

# Environment
.env
.env.*

# Database data volume
postgres_data/

# Virtual environments
venv/
*/venv/

# IDEs
.vscode/
.idea/

# Temp files
temp.html
*.tmp

# SQLite dev db
*.db

# Logs
*.log

# Others
.DS_Store
